<br><br><br>
<header>
	<h1 id="abouth1">the About</h1>
</header>
<div id="about_container">
	<p>This app is about more than functionality, UX, or being a portfolio-piece.  It was about addressing a need and identifying with a city that I love so much.<br><br>I knew I wanted to create a web-app that would be focused on Detroit but I wasn't entirely sure what that would look like.  After wrestling with several ideas I decided I would create a web-app that is exclusively focused on Detroit restaurants and bars.<br><br>Enter: <strong>DF&amp;D</strong>, aka <strong>Detroit Food and Drink</strong>.  This web-app (at the moment) has a single purpose:  to bring all the restaurants and bars of Detroit that the people of this great state love so dearly under one roof.  When I was researching how I would go about this I considered using several methods to pull data from sites like Yelp! and UrbanSpoon (among <em>many</em> other websites) and quickly realized that that would be cumbersome and inefficient as most of the restaurants and bars in Detroit are not listed on one single website.  With the birth of this web-app, they still aren't, but this is a great starter and I am constantly staying on the look-out for new establishments and the list is ever-growing.  I encourage feedback as it will only help this project to grow into something that can be truly special and useful to the people.</p>
	<br>
	<p>This web-app works in two capacities: the ability to search for any restaurant/bar in the city of Detroit and get back their respective information (address, number, website, etc.) and secondly, to view and/or comment on specific restaurants/bars in the city of Detroit.  If you visit the <%= link_to "list", "/restaurants" %> page you will see a rather large list of Detroit restaurants and bars, as well as a 'search' bar that will allow you to type in the 'name' <em>or</em> 'style' (Italian, Polish, American, etc.) of a restaurant/bar and pull up a list of establishments fitting the parameters of your search.<br><br>If you would like to contact me please use the below options.</p>
	<br><br><br>
	<ul>
		<li><a href="https://twitter.com/dannykulas" target="_blank">twitter</a></li>
		<li><a href="mailto:danny.kulas1@gmail.com">gmail</a></li>
	</ul>
</div>
