<br><br><br><h1 id="abouth1">about dr&b</h1>
<div id="about_container">
	<br><br><p>This app is about more than functionality (it works), UX, or being a portfolio-piece.  It was about addressing a need and identifying with a city that I love so much.<br><br><br>I knew I wanted to create a web-app that would be focused on Detroit but I wasn't entirely sure what that would look like.  After wrestling with several ideas I decided I would create a web-app that is exclusively focused on Detroit restaurants and bars.<br><br>Enter: <strong>DR&B</strong>, aka <strong>Detroit Restaurants and Bars</strong>.  This web-app (at the moment) has a single purpose:  to bring all the restaurants and bars of Detroit that the people of this great state love so dearly under one roof.  When I was researching how I would go about this I considered using several methods to pull data from sites like Yelp! and UrbanSpoon (among <em>many</em> other websites) and quickly realized that that would be cumbersome and inefficient as most of the restaurants and bars in Detroit are not listed on one single website.  With the birth of this web-app, they still aren't, but this is a great starter and I am constantly staying on the look-out for new establishments and the list is ever-growing.  I encourage feedback as it will only help this project to grow into something that can be truly special and useful to the people.</p>
	<br><br><br>
	<ul>
		<li><a href="https://twitter.com/danny_kulas" target="_blank">twitter</a></li>
		<li><a href="mailto:danny.kulas1@gmail.com">gmail</a></li>
	</ul>
</div>
