<br>
<!-- DET REST HOME PAGE -->
<nav>
  <ul>
  	<li><%= link_to "home", "/" %></li>&nbsp;
  	<li><%= link_to "the list", "/restaurants" %></li>&nbsp;
    <li><%= link_to "about", "/static_pages/about" %></li>
  </ul>
</nav>
<header class="main-header">
	<h1 id="hph1">Detroit Food &amp; Drink</h1>
	<h6 class="hph6">connecting people to the food, drink and city they love</h6>
</header>
<div id="main">
	<section class="main-section">
	<header>
		<h2 class="hp-section-header">The Dish</h2>
	</header>
		<article class="hp-article">
			<h3>The Innaugural Article (10/20/15)</h3>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Detroit Food &amp; Drink has been a work in-progress.  It started out as a final project (and with a different name) that has since grown into somewhat of a love affair.  The idea was (and largely remains) to create a website that archives as many bars and restaurants that call Detroit their home.  I decided to bring this idea to life because I felt that other, more publicized, (web) apps didn't provide a comprehensive list of Detroit watering holes and eateries.  I still have a long ways to go but am happy with the start I've made and the progress I continue to make.
				<br><br>
				Danny Kulas
			</p>
		</article>
	</section>
	<section class="secondary-section">
	<header>
		<h2 class="hp-section-header">Leftovers</h2>
	</header>
		<article>
			cool videos and shit about the food and drink (and other sweet stuff) in Detroit
			<br><br>
			*In the meantime, checkout <a href="http://www.keepdetroitbeautiful.com/" class="kdb-link" target="_blank">Keep Detroit Beautiful</a>
		</article>
	</section>
</div>