<br>
<!-- DET REST HOME PAGE -->
<nav>
  <ul>
  	<li><%= link_to "home", "/" %></li>&nbsp;
  	<li><%= link_to "the list", "/restaurants" %></li>&nbsp;
    <li><%= link_to "about", "/static_pages/about" %></li>
  </ul>
</nav>
<header class="main-header">
	<h1 id="hph1">Detroit Food &amp; Drink</h1>
	<h6 class="hph6">connecting people to the food, drink and city they love</h6>
</header>
<main>
	<section class="main-section">
	<header>
		<h2 class="hp-section-header">The Dish</h2>
	</header>
		<article>
			super awesome content about restaurants and bars in Detroit
		</article>
	</section>
	<section class="secondary-section">
	<header>
		<h2 class="hp-section-header">Leftovers</h2>
	</header>
		<article>
			cool videos and shit about the food and drink (and other sweet stuff) in Detroit
		</article>
	</section>
</main>