<br>
<br>
<!-- DET REST HOME PAGE -->
<h1 id="hph1">DR&B Co.</h1>

<div id="twitter_feeds">
	<ul>
	  <script src="//platform.twitter.com/widgets.js"></script>

		<a class="twitter-timeline" width="300px" height="300px" href="https://twitter.com/DetRestaurants" data-widget-id="570252147527516160">Tweets by @DetRestaurants</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		<a class="twitter-timeline" width="300px" height="300px" href="https://twitter.com/EaterDetroit" data-widget-id="570252661212327936">Tweets by @EaterDetroit</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		<a class="twitter-timeline" width="300px" height="300px" href="https://twitter.com/AllFoodDetroit" data-widget-id="570252909099896832">Tweets by @AllFoodDetroit</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</ul>
</div>

<footer>
	<p>&copy 2015 | <a href="https://github.com/dkulas" target="_blank">danny kulas</a></p>
</footer>