<br><br>
<!-- DET REST HOME PAGE -->
<header>
	<h1 id="hph1">Detroit Food &amp; Drink</h1>
</header>
<nav>
  <ul>
    <li><%= link_to "about", "/static_pages/about" %></li>
    <li><%= link_to "the list", "/restaurants" %>&nbsp;&nbsp;&nbsp;</li>
    <li><%= link_to "home", "/" %>&nbsp;&nbsp;&nbsp;</li>
  </ul>
</nav>
<br><br><br>
<div class="content-wrapper">
	<section>
		<h2 id="hph2">welcome</h2>
		<p id="welcome-para">
			connecting people to the food, drink and city they love
		</p>
	</section>
</div>