<br><br><br>
<!-- DET REST HOME PAGE -->
<header>
	<h1 id="hph1">Detroit Food &amp; Drink</h1>
</header>
<nav>
  <ul>
    <li><%= link_to "about", "/static_pages/about" %></li>
    <li><%= link_to "the list", "/restaurants" %>&nbsp;&nbsp;&nbsp;</li>
    <li><%= link_to "home", "/" %>&nbsp;&nbsp;&nbsp;</li>
  </ul>
</nav>
<br><br><br>
<div class="content-wrapper">
	<section>
		<h2 id="hph2">Welcome</h2>
		<p id="welcome-para">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Do you love Detroit? I'm talking about the get-arrested-just-to-spend-the-night-in-the-drunk-tank-with-your-best friend-who-got-arrested-earlier kind of love.  If you answered "yes", great.  If you answered "maybe" or "I don't know, I doubt it", well, we can work with that.
			<br><br>
			How about eating and drinking?  Check and mate.  Which brings me to the meat of the sandwich.  With Detroit speeding towards an awesome resurgence, there have been roughly 1,342,981 (give or take a few) restaurant and bar openings in the city since Detroit emerged like a phoenix from the ashes (bankruptcy).  I know I want to try just about all of them (and the ones that have been there since since day 1) but it's hard to get the info I'm looking for when Yelp!, OpenTable, and so-on-and-so-forth don't have a comprehensive list of said fine diners and watering holes.  
			<br><br>
			Enter:  Detroit Food &amp; Drink.
		</p>
	</section>
</div>