<br><br><br>
<!-- DET REST HOME PAGE -->
<header>
	<h1 id="hph1">Detroit Food &amp; Drink</h1>
</header>
<nav>
  <ul>
    <li><%= link_to "about", "/static_pages/about" %></li>
    <li><%= link_to "the list", "/restaurants" %>&nbsp;&nbsp;&nbsp;</li>
    <li><%= link_to "home", "/" %>&nbsp;&nbsp;&nbsp;</li>
  </ul>
</nav>
<br><br><br>
<div class="content-wrapper">
	<section>
		<ul>
			<li>
				Do you love Detroit?
			</li>
			<li>
				Do you love to Eat?
			</li>
			<li>
				Do you love to Drink?
			</li>
			<li>
				Maybe you're into exploring the nooks &amp; crannies of the D?
			</li>
		</ul>
		<p>
			
		</p>
	</section>
</div>