<br>
<!-- DET REST HOME PAGE -->
<nav>
  <ul>
  	<li><%= link_to "home", "/" %></li>&nbsp;
  	<li><%= link_to "the list", "/restaurants" %></li>&nbsp;
    <li><%= link_to "about", "/static_pages/about" %></li>
  </ul>
</nav>
<header>
	<h1 id="hph1">Detroit Food &amp; Drink</h1>
	<h6 class="hph6">connecting people to the food, drink and city they love</h6>
</header>
<main>
	<article>
		<section class="main-section">
		<h2>The Dish</h2>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</section>
		<section class="secondary-section">
		<h2>Leftovers</h2>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</section>
	</article>
</main>