<br><br><br>
<!-- DET REST HOME PAGE -->
<header>
	<h1 id="hph1">Detroit Food &amp; Drink</h1>
</header>
<nav>
  <ul>
    <li><%= link_to "about", "/static_pages/about" %></li>
    <li><%= link_to "the list", "/restaurants" %>&nbsp;&nbsp;&nbsp;</li>
    <li><%= link_to "home", "/" %>&nbsp;&nbsp;&nbsp;</li>
  </ul>
</nav>
<br><br><br>
<div class="content-wrapper">
	<section>
		<img src="http://www.dailyherald.com/storyimage/DA/20140211/entlife/140219966/AR/0/AR-140219966.jpg&amp;updated=201402101054&amp;MaxW=800&amp;maxH=800&amp;updated=201402101054&amp;noborder" id="det1" alt="Green Dot Stables sliders">
	</section>
	<section>
		<img src="http://www.dailydetroit.com/wp-content/uploads/2013/09/gateway-deli-sandwich-potato.jpg" id="det2" alt="Beautiful meaty sandwich">
	</section>
	<section>
		<img src="https://c2.staticflickr.com/6/5264/5689807223_357b0d678e.jpg" id="det3" alt="Lafayette Coney Island Detroit">
	</section>
	<section>
		<img src="http://elguapogrill.com/wp-content/uploads/2013/09/ElGuapo-HPImage2.jpg" id="det4" alt="Some yummy yummy tacos from the D">
	</section>
	<div class="clear-fix"></div>
</div>