@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===================================*/

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 20px 40px 40px 40px;
 	padding: 0;
 	font-family: sans-serif;
 	background-color: #fff;
}

header {
	margin-bottom: 10px;
	-webkit-box-shadow: 2px 2px 0px 1px #353535;
  -moz-box-shadow:    2px 2px 0px 1px #353535;
  box-shadow:         2px 2px 0px 1px #353535;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	float: right;
	padding: 5px;
}

a {
	text-decoration: none;
}

a:visited, a:hover, a:active {
	color: blue;
}

div.rest-list-container {
	width: 100%;
}

#rest_list {
	width: 250px;
}

.clear-fix {
	clear: both;
	margin-bottom: 50px;
}

.listed-restaurant {
	margin-right: 50px;
}

li.listed-restaurant.rest-name {
	font-weight: bolder;
	background-color: #353535;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	-webkit-box-shadow: 2px 2px 0px 1px #FB8080;
  -moz-box-shadow:    2px 2px 0px 1px #FB8080;
  box-shadow:         2px 2px 0px 1px #FB8080;
}

#rest_list ul {
	float: left;
}

div#rest_list {
	display: block;
}

#hph3 {
	text-align: center;
	margin: 0 auto;
}

#hph1, #the-list-page-h1, #the-comments-page-h1, #abouth1, #the_worksh1 {
	text-align: left;
	font-size: 2.5em;
	color: #fff;
	background-color: #FB8080;
	padding: 10px 10px 5px 10px;
	font-family: 'Alfa Slab One';
	letter-spacing: 1px;
}

#mainh1 {
	text-align: left;
}

#comments_container {
	width: 40%;
	margin: 0 auto;
	margin-top: 2.5%;
	text-align: center;
	display: center;
}

#comments_container, ul, li {
	list-style-type: none;
	text-align: left;
}

#comments_container ul .comments-headings {
	font-weight: bolder;
}

#comment_form ul li {
	display: inline-block;
}

#comments_bar_name {
	border-top: 2px solid #BCBCBD;
	padding-top: .5em;
	color: black;
}

#about_container {
	margin: 2.5% 10% 2.5% 10%;
}

body nav ul li {
	font-size: 0.9em;
}

a:hover {
	color: red;
}

#hph4 {
	text-align: center;
	font-weight: lighter;
}

div#rest_list ul li:nth-child(1) {
	font-weight: bolder;
}

.reset-search {
	font-size: .85em;
	margin: 5px;
}

input[type="search"] {
	font-size: 1em;
	font-weight: normal;
	margin: 5px;
}

input.rest-search {
	font-size: 1.25em;
	border-radius: 50%;
	background-color: white;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	body nav ul li {
		font-size: 2em;
	}

	.listed-restaurant, .listed-comment {
		font-size: 3.5em;
	}

	input#q_name_cont, input#q_style_cont {
		-webkit-appearance:textfield;
		box-sizing: content-box;
	}

	#comments_container {
		width: 90%;
	}
}






