/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===================================*/

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0 40px 40px 40px;
 	padding: 0;
 	font-family: sans-serif;
 	background-color: #fff;
 	line-height: normal;
}

header.main-header {
	margin-bottom: 10px;
	-webkit-box-shadow: 2px 2px 0px 1px #353535;
  -moz-box-shadow:    2px 2px 0px 1px #353535;
  box-shadow:         2px 2px 0px 1px #353535;
  background-color: #FB8080;
}

nav {
	text-align: right;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
}

section.main-section {
	width: 63.5%;
	padding: 20px;
	background-color: #E1E1E1;
	border-radius: 10px;
	float: left;
	margin-top: 10px;
}

section.secondary-section {
	width: 33.5%;
	padding: 20px;
	background-color: #E1E1E1;
	border-radius: 10px;
	float: right;
	margin-top: 10px;
}

section.secondary-section h2, section.main-section h2 {
	font-size: 1.5em;
	word-wrap: break-word;
	font-weight: bold;
}

article.hp-article {
	width: 100%;
	margin: 10px 0;
}

article.hp-article h3 {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 5px;
}

a {
	color: black;
	text-decoration: none;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: #FB8080;
}

a:active {
	color: #FB8080;
}

a.kdb-link {
	color: blue;
}

div.rest-list-container {
	width: 100%;
}

#rest_list {
	width: 250px;
}

.clear-fix {
	clear: both;
	margin-bottom: 50px;
}

.listed-restaurant {
	margin-right: 50px;
}

li.listed-restaurant.rest-name {
	font-weight: bolder;
	background-color: #353535;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
}

#rest_list ul {
	float: left;
}

div#rest_list {
	display: block;
}

#hph3 {
	text-align: center;
	margin: 0 auto;
}

#hph1, #the-list-page-h1, #the-comments-page-h1, #abouth1, #the_worksh1 {
	text-align: left;
	font-size: 2.5em;
	color: #fff;
	padding: 10px 10px 0 10px;
	font-family: sans-serif;
	letter-spacing: 3px;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

h6.hph6 {
	font-family: sans-serif;
	padding: 0 0 10px 15px;
	color: #fff;
	font-size: 0.9em;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px black;
}

#about_container {
	margin: 2.5% 10% 2.5% 10%;
}

body nav ul li {
	font-size: 0.9em;
}

a:hover {
	color: #FB8080;
}

div#rest_list ul li:nth-child(1) {
	font-weight: bolder;
}

.reset-search {
	font-size: .85em;
	margin: 5px;
}

input[type="search"] {
	font-size: 1em;
	font-weight: normal;
	margin: 5px;
}

input.rest-search {
	font-size: 1.25em;
	border-radius: 50%;
	background-color: white;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { 

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) { 

}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 

}






