@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===================================*/

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 20px 40px 40px 40px;
 	padding: 0;
 	font-family: sans-serif;
 	background-color: #fff;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	float: right;
	padding: 5px;
}

a {
	text-decoration: none;
}

a:visited, a:hover, a:active {
	color: blue;
}

#rest_list {
	/*height: 100%;*/
	width: 80%;
/*	-webkit-column-count: 2;
  	-moz-column-count: 2;
         column-count: 2;*/
	margin: 0 auto;
	text-align: center;
	display: center;
}

.clear-fix {
	clear: both;
	margin-bottom: 50px;
}

.listed-restaurant {
	margin-right: 25px;
}

#rest_list ul {
	float: left;
}

#hph3 {
	text-align: center;
	margin: 0 auto;
}

#hph1, #the-list-page-h1, #the-comments-page-h1, #abouth1, #the_worksh1 {
	text-align: left;
	font-size: 1.75em;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
}

#mainh1 {
	text-align: left;
}

#comments_container {
	width: 40%;
	margin: 0 auto;
	margin-top: 2.5%;
	text-align: center;
	display: center;
/*	-webkit-column-count: 2;
  	-moz-column-count: 2;
         column-count: 2;*/
}

#comments_container, ul, li {
	list-style-type: none;
	text-align: left;
}

#comments_container ul .comments-headings {
	font-weight: bolder;
}

#comment_form ul li {
	display: inline-block;
}

#comments_bar_name {
	border-top: 2px solid #BCBCBD;
	padding-top: .5em;
	color: black;
}

#about_container {
	margin: 2.5% 10% 2.5% 10%;
}

body nav ul li {
	font-size: 0.75em;
}

a:hover {
	color: red;
}

#hph4 {
	text-align: center;
	font-weight: lighter;
}

div#rest_list ul li:nth-child(1) {
	font-weight: bolder;
}

.reset-search {
	font-size: .85em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	.listed-restaurant {
		font-size: 3.5em;
	}

	input#q_name_cont, input#q_style_cont {
		-webkit-appearance:textfield;
		box-sizing: content-box;
		width: 35%;
		height: 100px;
		font-size: 1.95em;
	}
}






